/*  DROPDOWN  STYLE  */

.parent-container {
    padding: 0 20px 0 20px;
    max-width: 1000px;
    width: 100%;
}

.faq {
    list-style: none;
    padding-left: 40px;
    padding-right: 20px;
}

.faq li {
    border-bottom: 1px solid #999999;
    margin-bottom: 15px;
}

.faq li.active .answer {
    max-height: 275px !important;
    padding-bottom: 25px;
    transition: max-height 0.5s ease, padding-bottom 0.5s ease;
}

.faq li.active .question {
    color: rgb(230, 186, 172); /*Color de la question en after*/
    transition: color 0.5s ease;
}

.faq .answer {
    color: #090909;
    font-family: serif;
    font-size: 16px;
    line-height: 24px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease, padding-bottom 0.5s ease;
}

.faq .plus-minus-toggle {
    cursor: pointer;
    height: 21px;
    position: absolute;
    width: 21px;
    left: -40px;
    top: 50%;
    z-index: 2;
}

.faq .plus-minus-toggle:before, .faq .plus-minus-toggle:after {
    background: rgb(230, 186, 172); /*Background de la croix en after*/
    content: '';
    height: 5px;
    left: 0;
    position: absolute;
    top: 0;
    width: 21px;
    transition: transform 500ms ease;
}

.faq .plus-minus-toggle:after {
    transform-origin: center;
}

.faq .plus-minus-toggle.collapsed:after {
    transform: rotate(90deg);
    background: forestgreen; /*Background de la croix en before*/
}

.faq .plus-minus-toggle.collapsed:before {
    transform: rotate(180deg);
    background: forestgreen; /*Background de la croix en before*/
}

.faq .question {
    color: forestgreen; /*Color de la question en before*/
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 800;
    text-transform: uppercase;
    position: relative;
    cursor: pointer;
    padding: 20px 0;
    transition: color 0.5s ease;
}
@media screen and (max-width: 767px) {
    .faq .question {
        font-size: 18px;
    }
}

/*  DROPDOWN    */