.carousel-inner{max-height: 500px;}

.slidertitle{background-color: rgba(0, 0, 0, 0.5);}

.carousel-indicators-2{
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
    height: 5%;
}

@media screen and (max-width: 767px){
    .carousel-indicators-2{
        background-color: rgba(0, 0, 0, 0);
    }
    .container{margin-top: 10%}
}
