{% extends ('base.html.twig') %}

{% block stylesheets %}
    {# MON CSS #}
    <link href="{{ asset ('assets/css/vitrine/photos.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block main %}
    <main class="">
    <div class="container">
        <div class="bd-example col-lg-8 offset-lg-2">
            <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
                {#<ol class="carousel-indicators-2">
                    <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
                    <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
                    <li data-target="#carouselExampleCaptions" data-slide-to="3"></li>
                </ol>#}
                <div class="carousel-inner">
                    {% for slider in sliders %}
                        <div class="carousel-item {% if loop.index == 1 %} active {% endif %}" >
                            <img src="{{ asset('assets/img/slider/' ~ slider.media) }}" class="d-block w-100" alt="...">
                            <div class="carousel-caption d-none d-md-block">
                                <h5 class="slidertitle">{{ slider.title }}</h5>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Précédent</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Suivant</span>
                </a>
            </div>
        </div>
    </div>

        <div class="row pt-3"><a href="{{ path('addphoto') }}" class="text-center offset-3 col-6" style="color: #006A73">AJOUTEZ VOS PHOTOS !</a></div>
    </main>
{% endblock %}

{% block javascripts %}
    <script>var slideIndex = 1;
        showSlides(slideIndex);

        // Next/previous controls
        function plusSlides(n) {
        showSlides(slideIndex += n);
        }

        // Thumbnail image controls
        function currentSlide(n) {
        showSlides(slideIndex = n);
        }

        function showSlides(n) {
        var i;
        var slides = document.getElementsByClassName("mySlides");
        var dots = document.getElementsByClassName("demo");
        var captionText = document.getElementById("caption");
        if (n > slides.length) {slideIndex = 1}
        if (n < 1) {slideIndex = slides.length}
        for (i = 0; i < slides.length; i++) {
        slides[i].style.display = "none";
        }
        for (i = 0; i < dots.length; i++) {
        dots[i].className = dots[i].className.replace(" active", "");
        }
        slides[slideIndex-1].style.display = "block";
        dots[slideIndex-1].className += " active";
        captionText.innerHTML = dots[slideIndex-1].alt;
        }
    </script>
    {#Jquery#}

{% endblock %}
