{% extends ('base.html.twig') %}

{% block stylesheets %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link href="{{ asset ('assets/css/vitrine/tarifsmobilhome.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

    {% block main %}

        <div class="container">
            <div role="tabpanel">
                <ul class="nav nav-tabs showtab" role="tablist">
                    <li role="presentation" class="active">
                        <a href="#menu0" aria-controls="menu0" role="tab" data-toggle="tab" >Tarifs haute saison</a>
                    </li>
                    <li role="presentation">
                        <a href="#menu1" aria-controls="menu1" role="tab" data-toggle="tab">Tarifs moyenne saison</a>
                    </li>
                    <li role="presentation">
                        <a href="#menu2" aria-controls="menu2" role="tab" data-toggle="tab">Tarifs basse saison</a>
                    </li>
                    <li role="presentation" class="color-light saison ml-1">
                        <p class="">Haute du 01/07 au 31/08</p>
                        <p class="">Moyenne du 18/05 au 01/07</p>
                        <p class="">Basse du 04/04 au 17/05 et 01/09 au 30/09</p>
                    </li>
                </ul>

                <div class="tab-content mt-3">
                    <div role="tabpanel" class="tab-pane active" id="menu0">
                        <div class="row tableau">
                            <table class="col-md-12">
                                <thead>
                                <tr class="text-center">
                                    <th></th>
                                    <th scope="col" abbr="Deluxe">1 nuit</th>
                                    <th scope="col" abbr="Deluxe">2 nuits</th>
                                    <th scope="col" abbr="Deluxe">3 nuits</th>
                                    <th scope="col" abbr="Deluxe">4 nuits</th>
                                    <th scope="col" abbr="Deluxe">5 nuits</th>
                                    <th scope="col" abbr="Deluxe">6 nuits</th>
                                    <th scope="col" abbr="Deluxe">Semaine</th>
                                </tr>
                                </thead>
                                <tfoot>
                                <tr>
                                    <th scope="row">Frais de dossier</th>
                                    <td>10 €</td>
                                </tr>
                                <tr>
                                    <th scope="row">Taxe de séjour</th>
                                    <td>0,22€/nuit/pers</td>
                                </tr>
                                </tfoot>
                                <tbody>
                                <tr>
                                    <th scope="row" class="titresaison">Mobil-home Confort</th>
                                    <td>77€</td>
                                    <td>132€</td>
                                    <td>197€</td>
                                    <td>254€</td>
                                    <td>312€</td>
                                    <td>368€</td>
                                    <td>426€</td>
                                </tr>
                                <tr>
                                    <th scope="row" class="titresaison">Mobil-home Confort Luxe</th>
                                    <td>91€</td>
                                    <td>159€</td>
                                    <td>232€</td>
                                    <td>305€</td>
                                    <td>374€</td>
                                    <td>442€</td>
                                    <td>511€</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="menu1">
                        <div class="row tableau">
                            <table class="col-md-12">
                                <thead>
                                <tr class="text-center">
                                    <th></th>
                                    <th scope="col" abbr="Deluxe">1 nuit</th>
                                    <th scope="col" abbr="Deluxe">2 nuits</th>
                                    <th scope="col" abbr="Deluxe">3 nuits</th>
                                    <th scope="col" abbr="Deluxe">4 nuits</th>
                                    <th scope="col" abbr="Deluxe">5 nuits</th>
                                    <th scope="col" abbr="Deluxe">6 nuits</th>
                                    <th scope="col" abbr="Deluxe">Semaine</th>
                                </tr>
                                </thead>
                                <tfoot>
                                <tr>
                                    <th scope="row">Frais de dossier</th>
                                    <td>10 €</td>
                                </tr>
                                <tr>
                                    <th scope="row">Taxe de séjour</th>
                                    <td>0,22€/nuit/pers</td>
                                </tr>
                                </tfoot>
                                <tbody>
                                <tr>
                                    <th scope="row" class="titresaison">Mobil-home Confort</th>
                                    <td>72€</td>
                                    <td>120€</td>
                                    <td>178€</td>
                                    <td>227€</td>
                                    <td>273€</td>
                                    <td>322€</td>
                                    <td>363€</td>
                                </tr>
                                <tr>
                                    <th scope="row" class="titresaison">Mobil-home Confort Luxe</th>
                                    <td>85€</td>
                                    <td>144€</td>
                                    <td>213€</td>
                                    <td>272€</td>
                                    <td>326€</td>
                                    <td>386€</td>
                                    <td>436€</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="menu2">
                        <div class="row tableau">
                            <table class="col-md-12">
                                <thead>
                                <tr class="text-center">
                                    <th></th>
                                    <th scope="col" abbr="Deluxe">1 nuit</th>
                                    <th scope="col" abbr="Deluxe">2 nuits</th>
                                    <th scope="col" abbr="Deluxe">3 nuits</th>
                                    <th scope="col" abbr="Deluxe">4 nuits</th>
                                    <th scope="col" abbr="Deluxe">5 nuits</th>
                                    <th scope="col" abbr="Deluxe">6 nuits</th>
                                    <th scope="col" abbr="Deluxe">Semaine</th>
                                </tr>
                                </thead>
                                <tfoot>
                                <tr>
                                    <th scope="row">Frais de dossier</th>
                                    <td>10 €</td>
                                </tr>
                                <tr>
                                    <th scope="row">Taxe de séjour</th>
                                    <td>0,22€/nuit/pers</td>
                                </tr>
                                </tfoot>
                                <tbody>
                                <tr>
                                    <th scope="row" class="titresaison">Mobil-home Confort</th>
                                    <td>60€</td>
                                    <td>99€</td>
                                    <td>144€</td>
                                    <td>187€</td>
                                    <td>223€</td>
                                    <td>273€</td>
                                    <td>304€</td>
                                </tr>
                                <tr>
                                    <th scope="row" class="titresaison">Mobil-home Confort Luxe</th>
                                    <td>71€</td>
                                    <td>119€</td>
                                    <td>172€</td>
                                    <td>225€</td>
                                    <td>267€</td>
                                    <td>304€</td>
                                    <td>328€</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container mt-5">
            <div class="row">
                <div class="col-md-4 col-12">
                    <h4>Mobil-Home Confort:</h4>
                    <p>Valable pour 4 personnes</p>
                    <h4>Mobil-Home Confort Luxe</h4>
                    <p>Climatisation, salon panoramique, espace nuit séparé, valable pour 4 personnes (max 6p moyennant 10€/p/nuit supp)</p>
                    <p class="saison">La taxe de séjour est perçue du 1er mai au 30 septembre;</p>
                    <p class="saison">Elle est due par les personnes de plus de 18 ans, moyennant 0,22ct par nuit.</p>
                </div>
                <div class="col-md-4 col-12">
                    <h4>Informations générales :</h4>
                    <p>Une caution obligatoire de 300€ vous sera demandée à votre arrivée</p>
                    <p>Les locations sont disponibles dès 16h et les départs sont prévus avant 11H</p>
                </div>
                <div class="col-md-4 col-12">
                    <h4>Services en options :</h4>
                    <ul>
                        <li>
                            <h5>Location de draps :</h5>
                            <p>10€/lit</p>
                        </li>
                        <li>
                            <h5>Machine à laver :</h5>
                            <p>4€ la tournée</p>
                        </li>
                        <li>
                            <h5>Forfait ménage :</h5>
                            <p>50 € la semaine / 85€ + d'une semaine</p>
                        </li>
                        <li>
                            <h5>Animal de compagnie : </h5>
                            <p class="saison">(1 seul animal, vacciné et identifié)</p>
                            <p>2€ / jour</p>
                        </li>
                        <li>
                            <h5>Voiture supplémentaire : </h5>
                            <p>2€ / jour</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    {% endblock %}

    {% block javascripts %}

        <script>
            var url = document.location.toString();
            if (url.match('#')) {
                $('.showtab a[href=#' + url.split('#')[1] + ']').tab('show');
            }</script>
    {% endblock %}
