{% extends ('base.html.twig') %}

    {% block main %}

        <div class="container mb-5">
            {{ form_start(form) }}
                {{ form_row(form.is_cancelled) }} <p>Êtes vous sûr de vouloir annuler cette réservation ?</p>
                <button type="submit" class="btn btn-danger">Annuler</button>
            {{ form_end(form) }}
        </div>

    {% endblock %}


