{% extends ('base.html.twig') %}

{% block stylesheets %}
    <link href="{{ asset ('assets/css/reservation/choixemplacement.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

    {% block header %}
        <div class="header">
            {# SVG #} {# CACHE POUR LA WAVE #}
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1365 637.14"><defs><style>.cls-1{fill:#fff;}.cls-2{fill:#f8a39d;}</style></defs><title>header</title><g id="Calque_blanc"><path id="Tracé_blanc" class="cls-1" d="M958.65,49.27v561l-1365,1.68V13.52l177.08,355.2,27.1,45s15.46,34.89,62.85,61.12S-43.63,508-43.63,508l7,.45s55.31,7.85,112.39-20.4S958.65,49.27,958.65,49.27Z" transform="translate(406.35 25.14)"/></g><g id="Calque_rose"><path id="Tracé_rose" class="cls-2" d="M-406.35-25.14-197,391.57s3.42,5.71,4.25,7c5.94,9.37,30.64,47.49,69.76,75.74,17.75,12.82,39.17,24.61,86.38,34.15L-59,507a144.55,144.55,0,0,1-32.93-6l-20.57-6.28s-38.73-14.11-76.33-57.46a252.87,252.87,0,0,1-20.88-27.74C-259.8,332.64-406.35,19.64-406.35,19.64Z" transform="translate(406.35 25.14)"/></g></svg>
            {# FIN SVG #}
        </div>
    {% endblock %}


{% block main %}
       <div class="container">Prout prout</div>
    {% endblock %}