{% extends ('baseAdmin.html.twig') %}

{% block stylesheets %}
{% endblock %}

    {% block main %}
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1>
                    Ton titre de boubou
                    <small>On écrit des infos comme une boubou</small>
                </h1>
                <ol class="breadcrumb">
                    <li><a href="#"><i class="fa fa-dashboard"></i> Accueil</a></li>
                    <li><a href="#">Chemin</a></li>
                    <li class="active">Plus loin le chemin</li>
                </ol>
            </section>

            <!-- Main content -->
            <section class="content">
                <div class="callout callout-info">
                    <h4>Olala</h4>

                    <p>Tu peux utiliser ça comme base c'est cool</p>
                </div>
                <!-- Default box -->
                <div class="box">
                    <div class="box-header with-border">
                        <h3 class="box-title">Un autre titre de boubou</h3>
                    </div>
                    <div class="box-body">
                        Kamoulox
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer">
                        Un footer pour jouer au foot
                    </div>
                    <!-- /.box-footer-->
                </div>
                <!-- /.box -->

            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->

    {% endblock %}

{% block javascripts %}
{% endblock %}
